.partners {
    text-align: center;
    padding: 2rem 0.5rem;
}

.logos {
    margin-top: 2rem;
}

.logos ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

.logos li {
    padding: 0 2rem;
}

.partners img {
    max-height: 48px;
    max-width: 120px;
    aspect-ratio: 16/9;
    object-fit: contain;
    filter: grayscale(100%);
    transition: 0.5s;
    opacity: 0.75;
}

.partners img:hover {
    filter: grayscale(0%);
    opacity: 1;
}

@media (max-width: 997.98px) {
    .logos li {
        padding: 0 0.5rem;
        flex: 1 1 25%;
    }

    .partners img {
        width: 100%;
    }
}