.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    height: 64px;
    margin: 0 275px;
}

.header img {
    width: auto;
    height: auto;
}