.iconWrapper {
    width: 50px;
    height: 50px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
    margin-right: 1rem;
}

.iconWrapper a {
    color: var(--red-700);
}

.iconWrapper:hover {
    background-color: var(--red-700);
    transition: 0.5s;
}

.iconWrapper:hover a {
    color: var(--white);
}