:root {
    /* colors */
    --white: #fff;
    --brown: #180000;

    --grey-50: #f7f9fa;
    --grey-700: #5f6368;
    --grey-900: #212529;

    --red-200: #eb5861;
    --red-400: #e23b45;
    --red-700: #fe0002;
    --red-800: #960000;
    --red-900: #500001;
    
    /* font size */
    --fs-xl: 3rem;
    --fs-l: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.75rem;

    /* screen size */
    --ss-xl: 87.5rem;  
    --ss-l: 75rem;
    --ss-md: 62rem;
    --ss-sm: 36rem;

    --padding: 6rem 8rem;

    --h2FontSize: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: var(--white);
    color: var(--grey-900);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font: 400 1rem "Roboto", sans-serif;
}

a {
    text-decoration: none;
}